<nav materialize class=" deep-orange darken-4">
  <!-- <nav materialize class="red darken-4"> -->
  <a class="brand-logo" href="/">Ecomm&copy;</a>

  <ul class="right hide-on-med-and-down">
    <li><a href="#">Home</a></li>
    <li><a routerLink="/">Browse Products</a></li>
    <li><a routerLink="/usersProducts">My</a></li>
    <li><a routerLink="/users">Users</a></li>
    <li><a routerLink="/session">Session</a></li>
  </ul>

</nav>

<div class="container">
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>