.product-description {
    color: #000000;
    background-color: lighten(#edeef1, 20%);
    padding-left: 5px;
    padding-right: 5px;
}

.product-title-image{
    max-height: '10vh' !important;
    max-width: '10vw' !important;
}

// .materialboxed{
//     max-width: '650px';
//     width: '600' !important;
// }