<h1 mat-dialog-title>
   <div *ngIf="editAction; else addProduct">Edit Product</div>
   <ng-template #addProduct>Add Product</ng-template>
</h1>

<div mat-dialog-content>
   <div>
      <form materialize novalidate [formGroup]="productForm" class="example-container">
         <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" name="title" placeholder="Title for the Product" formControlName="title"
               autocomplete="off" minlength=5 required>
         </mat-form-field>

         <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" name="description" placeholder="Description of the product ... .."
               formControlName="description" autocomplete="off" minlength=10 required> </textarea>
         </mat-form-field>

         <tag-chips-component (tagSelect)="addTags($event)" [parentForm]="productForm" [tags]="tags">
         </tag-chips-component>
      </form>
   </div>

   <br>
   <div (click)="addVariationToFormArray()" class="btn btn-small green">
      <span><i class="fa fa-plus plus-icon"></i></span>
      <span class="emp-title">Add Product Variation</span>
   </div>
   <br>

   <!-- Variations form -->
   <form [formGroup]="variationsForm">
      <div class="pad-leftright">
         <div>
            <tr *ngFor="let row of variationRows.controls; let ind = index;">
               <td formArrayName="variations" *ngFor="let field of variationFields">
                  <div [formGroupName]="ind">
                     <div>
                        <div class="form-group">
                           <div *ngIf="field.formControl != 'variationimages'; else fileInput">
                              <input [type]="field.type" class="form-control" [placeholder]="field.name"
                                 [formControlName]="field.formControl" />
                           </div>

                           <ng-template #fileInput>
                              <input [type]="field.type" class="form-control" (change)="onImageChanged($event, ind)"
                                 [placeholder]="field.name" [formControlName]="field.formControl" multiple />
                           </ng-template>

                        </div>
                     </div>
                  </div>
               </td>
               <td>
                  <a class="form-control btn btn-floating btn-small waves-effect waves-light red darken-2 "
                     (click)="removeVariation($event, ind)">
                        <i class=" material-icons">remove</i>
                  </a>
               </td>
            </tr>
         </div>
      </div>
   </form>

</div>

<div mat-dialog-actions>
   <button mat-button [mat-dialog-close]="" class="btn btn-small indigo lighten-5 footer-button">Cancel</button>
   <button mat-button (click)="onSubmit()" [disabled]="!productForm.valid"
      class="btn btn-small blue right submit-button">Submit</button>
</div>



<!-- <div class="file-field input-field">
      <div class="btn btn-small pink darken-1">
         <span> Browse</span>
         <input type="file" (change)="onImageChanged($event)" #imageInput />
      </div>
   
      <div class="file-path-wrapper">
         <input class="file-path validate" type="text" placeholder="Upload Product image" />
      </div>
   </div> -->